.jury-item {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: $s;
  width: 140px;
  font-weight: normal;
}
.jury-avatar {
  border-radius: 50%;
  overflow: hidden;
}
.jury-item-title {
  margin-top: 2px;
  margin-bottom: 5px;
  width: 100%;
  text-align: center;
  font-size: 1.8rem;
  color: $c-main;

  &:hover {
    color: $c-text;
  }
}
.jury-say-yes,
.jury-say-no {
  font-size: 1.4rem;
  margin-left: $s/2;
  margin-right: $s/2;
  
  &::before {
    display: inline-block;
    vertical-align: middle;
    margin-right: 2px;
    font-size: 1.2em;
  }
}
.jury-say-yes {
  @include iconfont(laugh);
  color: $c-success;
}
.jury-say-no {
  @include iconfont(disappointed);
  color: $c-error;
}