/*****************/
/**    JOKES    **/
/*****************/
.jokes-page {
  @extend %full;

  section {
    margin-bottom: $s*3;
  }
}

/*****************/
/**    JURY     **/
/*****************/
.jury-page {
  @extend %full;

  .vote-norm {
    margin: $s*2 auto;
  }
  .jury-avatar {
    margin-left: auto;
    margin-right: auto;
  }
}

/*****************/
/**    JOKE     **/
/*****************/
.add-joke {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100%;
  color: $c-sub;
  background: $c-main;

  .btn-snd {
    min-width: 250px;
  }
}
.add-title {
  margin-bottom: $s/2;
  font-size: 1.6rem;
  font-weight: 300;
}
.joke-answer {
  &, .vote {
    display: none;
  }
}
.result {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  min-height: 500px;
  background: center/cover no-repeat $c-shade-2;

  .vote {
    margin-bottom: $s*2;
  }
}
.inprogress {
  display: flex;
  align-items: center;
  align-self: center;
  height: 100%;
  font-style: italic;
  font-size: 1.8rem;
  color: $c-shade-3;
}
.jury-votes {
  @extend %full;
}
.vote-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
[class*="jury-vote-"] {
  input {
    display: none;
  }
  abbr {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    padding: 4px;
    width: 50px;
    height: 25px;
    border-radius: 20px;
    color: $c-sub;
    cursor: pointer;
    background: rgba($c-shade-1,.5);
    transition: $t;

    &::before {
      margin-right: 2px;
    }
  }
}
.jury-vote-yes {
  abbr {
    @include iconfont(laugh);
  }
  &:hover abbr,
  [type=radio]:checked + abbr {
    background: $c-success;
  }
}
.jury-vote-no {
  abbr {
    @include iconfont(disappointed);
  }
  &:hover abbr,
  [type=radio]:checked + abbr {
    background: $c-error;
  }
}
.vote-btn {
  width: 100%;
  text-align: center;
}


/*****************/
/**    Models   **/
/*****************/
.model-page {
  @extend %full;
  min-width: 900px;

  [aria-hidden="true"] {
    display: none;
  }
}
.table {
  border-collapse: collapse;
  width: 100%;
  table-layout: fixed;
  
  tbody tr:nth-child(odd) {
    background: rgba($c-shade-3,.1);
  }
  tr {
    position: relative;
    transform: scale(1);/* not use position relative */
  }
  th,
  td {
    border: 1px solid $c-shade-3;
    padding: $s/2;
    width: 10%;

    &:first-child {
      width: 60%;
    }
    &:last-child {
      width: 20%;
      text-align: center;
    }
  }
  th {
    color: $c-sub;
    background: $c-shade-3;
  }
}
.joke-action-del {
  position: absolute;
  right: 0;
  top: 0;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  padding: $s;
  width: 100%;
  height: 100%;
  background: $c-error;

  p {
    margin-right: auto;
    color: $c-sub;
    font-weight: bold;
  }
  button {
    margin-left: $s;
    min-width: 100px;
  }
}


/*****************/
/**    MEDIAS   **/
/*****************/
@media (max-width: 599px) {
  .jury-page {
    .jury-avatar {
      max-width: 150px;
    }
  } 
}
@media (min-width: 600px) {
  .jury-page {
    .jury-avatar {
      max-width: 300px;
    }
  }
}
@media (min-width: 1000px) {
  .joke-page,
  .joke-top {
    display: flex;
    flex-wrap: wrap;

    .joke,
    .result {
      box-sizing: border-box;
      width: 50%;
    }
  }
  .jury-votes,
  .add-joke {
    width: 100%;
  }
}