/****************/
/*     FORM     */
/****************/
.form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.form-block {
  width: calc(50% - 10px);
}
.form-label {
  display: block;
  margin-bottom: $s/2;
  font-weight: bold;
}
.form-field {
  box-sizing: border-box;
  border: 1px solid $c-shade-3;
  padding: $s/2;
  width: 100%;
  font-size: 1em;
  background: $c-sub;
}
.form-btn {
  margin-top: $s;
  margin-left: auto;
}