/*****************/
/**     LIST    **/
/*****************/
.jokes-item {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px dashed $c-shade-1;
  padding-top: $s/2;
  padding-bottom: $s/2;
}
.jokes-item-title {
  margin-bottom: $s/2;
  font-weight: 300;
  font-size: 1.6rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.jokes-item-link {
  svg {
    fill: $c-main;
    transition: $t
  }
  &:hover svg {
    fill: $c-text;
  }
}

/*****************/
/**    DETAIL   **/
/*****************/
.joke {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: $s*3 $s;
  text-align: center;
  color: $c-sub;
  background: $c-main;

  .btn-snd {
    margin-top: $s*2;
  }
}
.joke-content {
  position: relative;
  font-size: 2.4rem;
  font-weight: 300;

  &::before,
  &::after {
    content: '"';
    position: absolute;
    font-family: $f-sub;
    font-size: 7.2rem;
    color: rgba($c-text,.8);
  }
  &::before {
    top: $s*-3;
    left: -$s;
  }
  &::after {
    transform: rotate(180deg);
    bottom: $s*-3;
  }
}
.joke-date {
  font-size: 1.2rem;
  font-style: italic;
}


/*****************/
/**   CATEGORY  **/
/*****************/
.category-parent {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  min-width: 290px;
  width: 290px;
  width: max-content;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 400;
  text-transform: uppercase;
  color: $c-sub;

  &::before,
  &::after {
    content: '';
    position: relative;
    width: 40px;
    height: 40px;
    transform: rotate(45deg);
    background: $c-sub;
  }
  &::before {
    left: -20px;
  }
  &::after {
    right: -20px;
  }
}
.category {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: $s;
  margin-bottom: $s;
  font-weight: normal;

  svg {
    margin-left: $s/2;
    margin-right: $s/2;
    width: $s;
  }
  .jokes-item + & {
    margin-top: $s*3;
  }
}