.jokes-list {
  @extend %full;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: $s*3;
  margin-bottom: $s*3;

  .title,
  .jokes-item {
    width: 100%;
  }
  .btn {
    margin-top: $s;
  }
}
.jury-list {
  @extend %full;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background: $c-shade-2;

  .title {
    width: 100%;
  }
}