@charset "UTF-8";
/* variables */
/**************/
/*   Colors   */
/**************/
/**************/
/*   Sizes    */
/**************/
/**************/
/*   fonts    */
/**************/
@font-face {
  font-family: "iconfont";
  src: url(../fonts/iconfont.eot);
  /* IE9 Compat Modes */
  src: url(../fonts/iconfont.eot?#iefix) format("embedded-opentype"), url(../fonts/iconfont.woff) format("woff"), url(../fonts/iconfont.ttf) format("truetype"), url(../fonts/iconfont.svg) format("svg");
  /* Legacy iOS */ }

.icon {
  font-style: normal;
  font-weight: 400; }
  .icon.cowboy:before {
    font-family: "iconfont";
    content: ""; }
  .icon.disappointed:before {
    font-family: "iconfont";
    content: ""; }
  .icon.eye:before {
    font-family: "iconfont";
    content: ""; }
  .icon.laugh:before {
    font-family: "iconfont";
    content: ""; }
  .icon.star-2:before {
    font-family: "iconfont";
    content: ""; }
  .icon.star:before {
    font-family: "iconfont";
    content: ""; }

/**************/
/*   Z-index  */
/**************/
/***************/
/* Transitions */
/***************/
/* reset */
/***************/
/*    Reset    */
/***************/
/* Remove margin/padding */
body,
ul,
ol,
li,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote {
  margin: 0; }

ul,
button {
  padding: 0; }

/* create HTML5 tag */
article,
aside,
footer,
header,
main,
nav,
section,
picture {
  display: block; }

/* Hide element */
[hidden],
[aria-hidden="true"] {
  display: none; }

/* Special elements */
img {
  max-width: 100%;
  border: 0; }

textarea {
  font: 1em "Roboto", arial, sans-serif;
  resize: none; }

input {
  font: 1em "Roboto", arial, sans-serif; }
  input[type="text"] {
    -webkit-appearance: none; }
  input[type="submit"] {
    border: 0;
    cursor: pointer; }

[type="submit"] {
  -webkit-appearance: none; }

button {
  border: 0;
  font: 1em "Roboto", arial, sans-serif;
  cursor: pointer;
  background: transparent; }

abbr[title] {
  border-bottom: none;
  text-decoration: none; }

/* Special elements */
html {
  font: 62.5% "Roboto", arial, sans-serif;
  color: #404040;
  background: #fff;
  font-weight: 300; }

body {
  font-size: 1.6rem;
  overflow-x: hidden; }

ul,
ol {
  list-style: none; }

a {
  text-decoration: none;
  transition: all ease-in 0.2s; }

/* Components */
/****************/
/*   BUTTONS    */
/****************/
.btn {
  display: inline-block;
  border: 1px solid #2D9CDB;
  padding: 10px;
  text-transform: uppercase;
  color: #fff;
  border-radius: 40px;
  background: #2D9CDB;
  transition: all ease-in 0.2s; }
  .btn:hover {
    background: #fff;
    color: #2D9CDB;
    transform: scale(1.02); }

.btn-snd {
  display: inline-block;
  border: 1px solid #F2F2F2;
  padding: 10px;
  text-transform: uppercase;
  color: #404040;
  border-radius: 40px;
  background: #fff;
  transition: all ease-in 0.2s; }
  .btn-snd:hover {
    background: #404040;
    color: #fff;
    transform: scale(1.02); }

.btn-success {
  display: inline-block;
  border: 1px solid #219653;
  padding: 10px;
  text-transform: uppercase;
  color: #fff;
  border-radius: 40px;
  background: #219653;
  transition: all ease-in 0.2s; }
  .btn-success:hover {
    background: #fff;
    color: #219653;
    transform: scale(1.02); }

.btn-error {
  display: inline-block;
  border: 1px solid #EB5757;
  padding: 10px;
  text-transform: uppercase;
  color: #fff;
  border-radius: 40px;
  background: #EB5757;
  transition: all ease-in 0.2s; }
  .btn-error:hover {
    background: #fff;
    color: #EB5757;
    transform: scale(1.02); }

/****************/
/*     FORM     */
/****************/
.form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }

.form-block {
  width: calc(50% - 10px); }

.form-label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold; }

.form-field {
  box-sizing: border-box;
  border: 1px solid #4F4F4F;
  padding: 10px;
  width: 100%;
  font-size: 1em;
  background: #fff; }

.form-btn {
  margin-top: 20px;
  margin-left: auto; }

/*****************/
/**     LIST    **/
/*****************/
.jokes-item {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px dashed #828282;
  padding-top: 10px;
  padding-bottom: 10px; }

.jokes-item-title {
  margin-bottom: 10px;
  font-weight: 300;
  font-size: 1.6rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis; }

.jokes-item-link svg {
  fill: #2D9CDB;
  transition: all ease-in 0.2s; }

.jokes-item-link:hover svg {
  fill: #404040; }

/*****************/
/**    DETAIL   **/
/*****************/
.joke {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 60px 20px;
  text-align: center;
  color: #fff;
  background: #2D9CDB; }
  .joke .btn-snd {
    margin-top: 40px; }

.joke-content {
  position: relative;
  font-size: 2.4rem;
  font-weight: 300; }
  .joke-content::before, .joke-content::after {
    content: '"';
    position: absolute;
    font-family: "Passion One", cursive;
    font-size: 7.2rem;
    color: rgba(64, 64, 64, 0.8); }
  .joke-content::before {
    top: -60px;
    left: -20px; }
  .joke-content::after {
    transform: rotate(180deg);
    bottom: -60px; }

.joke-date {
  font-size: 1.2rem;
  font-style: italic; }

/*****************/
/**   CATEGORY  **/
/*****************/
.category-parent {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  min-width: 290px;
  width: 290px;
  width: max-content;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 400;
  text-transform: uppercase;
  color: #fff; }
  .category-parent::before, .category-parent::after {
    content: '';
    position: relative;
    width: 40px;
    height: 40px;
    transform: rotate(45deg);
    background: #fff; }
  .category-parent::before {
    left: -20px; }
  .category-parent::after {
    right: -20px; }

.category {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
  font-weight: normal; }
  .category svg {
    margin-left: 10px;
    margin-right: 10px;
    width: 20px; }
  .jokes-item + .category {
    margin-top: 60px; }

.jury-item {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px;
  width: 140px;
  font-weight: normal; }

.jury-avatar {
  border-radius: 50%;
  overflow: hidden; }

.jury-item-title {
  margin-top: 2px;
  margin-bottom: 5px;
  width: 100%;
  text-align: center;
  font-size: 1.8rem;
  color: #2D9CDB; }
  .jury-item-title:hover {
    color: #404040; }

.jury-say-yes,
.jury-say-no {
  font-size: 1.4rem;
  margin-left: 10px;
  margin-right: 10px; }
  .jury-say-yes::before,
  .jury-say-no::before {
    display: inline-block;
    vertical-align: middle;
    margin-right: 2px;
    font-size: 1.2em; }

.jury-say-yes {
  color: #219653; }
  .jury-say-yes:before {
    font-family: "iconfont";
    font-style: normal;
    font-weight: 400;
    content: ""; }

.jury-say-no {
  color: #EB5757; }
  .jury-say-no:before {
    font-family: "iconfont";
    font-style: normal;
    font-weight: 400;
    content: ""; }

/*****************/
/**   PROGRESS  **/
/*****************/
.vote {
  position: relative;
  color: #fff;
  overflow: hidden;
  background: #EB5757;
  border-radius: 40px; }
  .vote:before {
    font-family: "iconfont";
    font-style: normal;
    font-weight: 400;
    content: ""; }
  .vote::before {
    position: absolute; }
  .vote span {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase; }

.vote-like {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-align: center;
  background: #219653; }
  .vote-like:before {
    font-family: "iconfont";
    font-style: normal;
    font-weight: 400;
    content: ""; }
  .vote-like::before {
    position: absolute; }

.vote-small {
  width: 100px;
  height: 15px; }
  .vote-small::before,
  .vote-small .vote-like::before {
    top: 0;
    font-size: .9em; }
  .vote-small::before {
    right: 1px; }
  .vote-small .vote-like::before {
    left: 1px; }

.vote-norm {
  width: 100%;
  max-width: 300px;
  height: 30px; }
  .vote-norm::before,
  .vote-norm .vote-like::before {
    top: 2px;
    font-size: 1.6em; }
  .vote-norm::before {
    right: 2px; }
  .vote-norm .vote-like::before {
    left: 2px; }

.vote-big {
  width: 100%;
  max-width: 330px;
  height: 50px; }
  .vote-big::before,
  .vote-big .vote-like::before {
    top: 2px;
    font-size: 2.8em; }
  .vote-big::before {
    right: 2px; }
  .vote-big .vote-like::before {
    left: 2px; }

/* Layout */
/***************/
/*    GLOBAL   */
/***************/
body {
  display: grid; }

.jokes-list, .jury-list, .jokes-page, .jury-page, .jury-votes, .model-page {
  box-sizing: border-box;
  padding-left: 20px;
  padding-right: 20px; }

/* global */
body {
  grid-template: 'h' 'm' 1fr 'f';
  min-height: 100vh; }

.main {
  grid-area: m;
  max-width: 100vw; }

.title {
  margin-top: 40px;
  margin-bottom: 20px;
  font-weight: 300;
  font-size: 2rem; }
  .title::before {
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px; }

.title-joke:before {
  font-family: "iconfont";
  font-style: normal;
  font-weight: 400;
  content: ""; }

.title-jury:before {
  font-family: "iconfont";
  font-style: normal;
  font-weight: 400;
  content: ""; }

@media (min-width: 1240px) {
  .jokes-list, .jury-list, .jokes-page, .jury-page, .jury-votes, .model-page {
    padding-left: calc(50vw - 620px);
    padding-right: calc(50vw - 620px); } }

/***************/
/*    HEADER   */
/***************/
.header {
  grid-area: h;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #F2F2F2;
  padding: 10px; }
  .header .btn-snd {
    margin-left: auto;
    margin-right: 20px; }
  .header [class*="btn"] {
    padding-top: 5px;
    padding-bottom: 5px; }
    .header [class*="btn"]::before {
      display: inline-block;
      vertical-align: bottom;
      font-size: 1.2em; }

.btn-add-joke:before {
  font-family: "iconfont";
  font-style: normal;
  font-weight: 400;
  content: ""; }

.btn-jokes:before {
  font-family: "iconfont";
  font-style: normal;
  font-weight: 400;
  content: ""; }

@media (max-width: 499px) {
  .header [class*=btn] span {
    display: none; } }

@media (min-width: 500px) {
  .header [class*="btn"]::before {
    margin-right: 5px; } }

/***************/
/*    FOOTER   */
/***************/
.footer {
  grid-area: f;
  margin-top: 40px;
  margin-bottom: 40px;
  color: #4F4F4F;
  text-align: center;
  font-style: italic;
  font-size: 1.4rem; }
  .footer a {
    color: #4F4F4F; }
    .footer a:hover {
      color: #2D9CDB; }
  .footer p {
    margin-top: 20px;
    margin-bottom: 20px; }

@media (max-width: 600px) {
  .footer span {
    display: block;
    margin-top: 20px; } }

/* Page */
.jokes-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
  margin-bottom: 60px; }
  .jokes-list .title,
  .jokes-list .jokes-item {
    width: 100%; }
  .jokes-list .btn {
    margin-top: 20px; }

.jury-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background: #F2F2F2; }
  .jury-list .title {
    width: 100%; }

/*****************/
/**    JOKES    **/
/*****************/
.jokes-page section {
  margin-bottom: 60px; }

/*****************/
/**    JURY     **/
/*****************/
.jury-page .vote-norm {
  margin: 40px auto; }

.jury-page .jury-avatar {
  margin-left: auto;
  margin-right: auto; }

/*****************/
/**    JOKE     **/
/*****************/
.add-joke {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100%;
  color: #fff;
  background: #2D9CDB; }
  .add-joke .btn-snd {
    min-width: 250px; }

.add-title {
  margin-bottom: 10px;
  font-size: 1.6rem;
  font-weight: 300; }

.joke-answer, .joke-answer .vote {
  display: none; }

.result {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  min-height: 500px;
  background: center/cover no-repeat #F2F2F2; }
  .result .vote {
    margin-bottom: 40px; }

.inprogress {
  display: flex;
  align-items: center;
  align-self: center;
  height: 100%;
  font-style: italic;
  font-size: 1.8rem;
  color: #4F4F4F; }

.vote-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }

[class*="jury-vote-"] input {
  display: none; }

[class*="jury-vote-"] abbr {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  padding: 4px;
  width: 50px;
  height: 25px;
  border-radius: 20px;
  color: #fff;
  cursor: pointer;
  background: rgba(130, 130, 130, 0.5);
  transition: all ease-in 0.2s; }
  [class*="jury-vote-"] abbr::before {
    margin-right: 2px; }

.jury-vote-yes abbr:before {
  font-family: "iconfont";
  font-style: normal;
  font-weight: 400;
  content: ""; }

.jury-vote-yes:hover abbr,
.jury-vote-yes [type=radio]:checked + abbr {
  background: #219653; }

.jury-vote-no abbr:before {
  font-family: "iconfont";
  font-style: normal;
  font-weight: 400;
  content: ""; }

.jury-vote-no:hover abbr,
.jury-vote-no [type=radio]:checked + abbr {
  background: #EB5757; }

.vote-btn {
  width: 100%;
  text-align: center; }

/*****************/
/**    Models   **/
/*****************/
.model-page {
  min-width: 900px; }
  .model-page [aria-hidden="true"] {
    display: none; }

.table {
  border-collapse: collapse;
  width: 100%;
  table-layout: fixed; }
  .table tbody tr:nth-child(odd) {
    background: rgba(79, 79, 79, 0.1); }
  .table tr {
    position: relative;
    transform: scale(1);
    /* not use position relative */ }
  .table th,
  .table td {
    border: 1px solid #4F4F4F;
    padding: 10px;
    width: 10%; }
    .table th:first-child,
    .table td:first-child {
      width: 60%; }
    .table th:last-child,
    .table td:last-child {
      width: 20%;
      text-align: center; }
  .table th {
    color: #fff;
    background: #4F4F4F; }

.joke-action-del {
  position: absolute;
  right: 0;
  top: 0;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  padding: 20px;
  width: 100%;
  height: 100%;
  background: #EB5757; }
  .joke-action-del p {
    margin-right: auto;
    color: #fff;
    font-weight: bold; }
  .joke-action-del button {
    margin-left: 20px;
    min-width: 100px; }

/*****************/
/**    MEDIAS   **/
/*****************/
@media (max-width: 599px) {
  .jury-page .jury-avatar {
    max-width: 150px; } }

@media (min-width: 600px) {
  .jury-page .jury-avatar {
    max-width: 300px; } }

@media (min-width: 1000px) {
  .joke-page,
  .joke-top {
    display: flex;
    flex-wrap: wrap; }
    .joke-page .joke,
    .joke-page .result,
    .joke-top .joke,
    .joke-top .result {
      box-sizing: border-box;
      width: 50%; }
  .jury-votes,
  .add-joke {
    width: 100%; } }
