/*****************/
/**   PROGRESS  **/
/*****************/
.vote {
  @include iconfont(disappointed);
  position: relative;
  color: $c-sub;
  overflow: hidden;
  background: $c-error;
  border-radius: 40px;

  &::before {
    position: absolute;
  }
  span {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
  }
}
.vote-like {
  @include iconfont(laugh);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-align: center;
  background: $c-success;

  &::before {
    position: absolute;
  }
}
.vote-small {
  width: 100px;
  height: 15px;

  &::before,
  .vote-like::before {
    top: 0;
    font-size: .9em;
  }
  &::before {
    right: 1px;
  }
  .vote-like::before {
    left: 1px;
  }
}
.vote-norm {
  width: 100%;
  max-width: 300px;
  height: 30px;

  &::before,
  .vote-like::before {
    top: 2px;
    font-size: 1.6em;
  }
  &::before {
    right: 2px;
  }
  .vote-like::before {
    left: 2px;
  }
}
.vote-big {
  width: 100%;
  max-width: 330px;
  height: 50px;

  &::before,
  .vote-like::before {
    top: 2px;
    font-size: 2.8em;
  }
  &::before {
    right: 2px;
  }
  .vote-like::before {
    left: 2px;
  }
}