/**************/
/*   Colors   */
/**************/

// Main
$c-main: #2D9CDB;
$c-sub:  #fff;
$c-text: #404040;

// Shades
$c-shade-1: #828282;
$c-shade-2: #F2F2F2;
$c-shade-3: #4F4F4F;

// Messages
$c-success: #219653;
$c-error:   #EB5757;